@import './../utils/vars';
@import './../utils/colors';

$gap-size: 10px;

.board-column {
	background-color: $bg-variant;
	border: 2px solid $border-secondary;
	border-radius: $border-radius;

	padding: $gap-size;
	width: 240px;

	.board-column-name {
		color: $text-normal;
		font-size: $text-md;
		font-weight: normal;

		margin-bottom: $gap-size;
	}

	.bcn-icon {
		margin-right: $gap-size / 2;
	}

	.todo-item-container {
		margin-bottom: $gap-size;
	}
}

.board-column.orange {
	background-color: #ff9272;
}

.board-column.pink {
	background-color: #ff8494;
}

.board-column.purple {
	background-color: #b272b2;
}
