@import './../utils/vars';
@import './../utils/colors';

.btn {
	border: none;
	border-radius: $border-radius;
	cursor: pointer;
	color: $text-normal;
	font-family: 'Roboto Mono', monospace, sans-serif;
	transition-property: background-color, color;
	transition-duration: $transition-duration;
}

.btn-sz-md {
	font-size: $text-md;

	padding: 8px 16px;
	height: $btn-md;
}

.btn-sz-sm {
	$font-size: $text-sm;
	padding: 4px 12px;

	height: $btn-sm;
}

@media screen and (min-width: $br-lg) {
	.btn-br-lg-sz-md {
		font-size: $text-md;

		padding: 8px 16px;
		height: $btn-md;
	}
}

.btn-accent {
	background-color: $bg-accent;
	color: $text-normal;

	&:hover {
		background-color: $bg-accent-variant;
	}
}

.btn-gray {
	background-color: $bg-gray-variant;
	color: $text-normal;

	&:hover {
		background-color: $bg-gray;
	}
}

.btn-flat {
	background-color: transparent;
	color: $text-muted;

	&:hover {
		color: $text-normal;
		background-color: $bg-gray-variant;
	}
}

.btn-block {
	display: block;

	width: 100%;
}
