@import './../utils/vars';
@import './../utils/colors';

.login-form {
	display: block;

	max-width: 260px;
	width: 100%;

	.form-group:not(:last-child) {
		margin-bottom: 16px;
	}

	.form-title {
		color: $text-normal;
		font-size: $text-xl;
		font-weight: normal;
		text-align: center;

		margin-bottom: 0;
	}

	.hint {
		color: $text-muted;
		font-size: $text-sm;
		text-align: center;
	}
}
