@import './../utils/vars';
@import './../utils/colors';

.navbar {
	.navbar-list {
		display: flex;

		height: 100%;
	}

	.navbar-item {
		color: $text-muted;
		font-size: $text-md;
		transition-property: color;
		transition-duration: $transition-duration;

		padding: 7px 0;

		a:hover {
			color: $text-normal;
		}
	}
}
