$pad-size: 16px;

.new-todoname-modal {
	background-color: $bg-normal;
	border: 1px solid $bg-muted;
	border-radius: $border-radius;

	padding: $pad-size;
	width: 340px;
	min-width: 310px;

	.ntm-title {
		color: $text-normal;
		font-size: $text-xmd;
	}
}
