@import './../utils/vars';
@import './../utils/colors';

.page-header {
	display: flex;

	margin-bottom: 56px;
	height: $page-header-height;

	.nav-container {
		display: flex;
		flex: 1 0 auto;
	}

	.page-header-actions-container {
		display: flex;
		flex: 0 0 auto;

		margin: 0 -15px;

		.page-header-action {
			flex: 0 0 auto;

			padding: 0 15px;
		}
	}

	.brand {
		color: $text-normal;
		display: inline-block;
		font-size: $text-xl;
		line-height: $line-height;

		padding: 2px 0;
		margin-right: 42px;
	}
}
