@import './../utils/vars';
@import './../utils/colors';

.page-header {
	display: flex;

	height: $page-header-height;

	.nav-container {
		display: flex;
		flex: 1 0 auto;
	}

	.page-header-actions-container {
		display: flex;
		flex: 0 0 auto;

		margin: 0 -15px;

		.page-header-action {
			align-items: center;
			display: flex;
			flex: 0 0 auto;

			padding: 0 15px;
		}
	}

	.brand {
		color: $text-normal;
		display: inline-block;
		font-size: $text-xl;
		line-height: $line-height;

		padding: 2px 0;
	}

	@media screen and (max-width: $br-sm) {
		margin-bottom: 32px;

		.brand {
			margin-right: 12px;
		}
	}

	@media screen and (min-width: $br-sm) {
		margin-bottom: 38px;

		.brand {
			margin-right: 16px;
		}
	}

	@media screen and (min-width: $br-md) {
		margin-bottom: 44px;

		.brand {
			margin-right: 24px;
		}
	}

	@media screen and (min-width: $br-lg) {
		margin-bottom: 50px;

		.brand {
			margin-right: 32px;
		}
	}

	@media screen and (min-width: $br-xl) {
		margin-bottom: 56px;

		.brand {
			margin-right: 42px;
		}
	}
}
