@import './../utils/vars';
@import './../utils/colors';

$stats-gap-size: 8px / 2;
$margin-bottom: 8px;

.todo-card {
	border-bottom: 2px solid $border-secondary;
	padding-bottom: 12px;

	.todo-info {
		.todo-info-header {
			color: $text-muted;
			display: flex;
			font-size: $text-xs;
			justify-content: space-between;

			margin-bottom: $margin-bottom;
		}

		.user-name {
			margin-right: 4px;
		}

		.todo-title {
			align-items: center;
			display: flex;

			margin-bottom: $margin-bottom;
		}

		.todo-name {
			color: $text-normal;
			flex: 0 0 auto;
			font-size: $text-lg;
			letter-spacing: 1px;

			margin-right: 4px;
		}

		.stats {
			display: flex;
			margin: 0 $stats-gap-size * -1;

			.todo-stats-container {
				padding: 0 $stats-gap-size;
			}
		}
	}
}
