@import './../utils/vars';
@import './../utils/colors';

.user-card {
	display: flex;
	border-bottom: 2px solid $border-secondary;

	.img-container {
		flex: 0 0 auto;
		border: 2px solid $border-secondary;
		border-bottom-width: 0px;

		margin-right: 8px;

		.user-img {
			object-fit: cover;
			vertical-align: middle;

			width: 80px;
			height: 80px;
		}
	}

	.user-info {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;

		.user-main {
			flex: 1 0 auto;
		}

		.user-created-at {
			color: $text-muted;
			flex: 0 0 auto;
			font-size: $text-xs;
		}

		.user-welcome {
			color: $text-muted;
			font-size: $text-xs;
		}

		.user-title {
			align-items: center;
			display: flex;
		}

		.user-name {
			color: $text-normal;
			display: inline-block;
			font-size: $text-lg;
			letter-spacing: 1px;
			margin-right: 4px;
		}
	}

	@media screen and (min-width: $br-sm) {
	}

	@media screen and (min-width: $br-md) {
		.user-info {
			flex-direction: row;
		}

		.img-container {
			.user-img {
				width: 92px;
				height: 92px;
			}
		}
	}

	@media screen and (min-width: $br-lg) {
		.img-container {
			.user-img {
				width: 100px;
				height: 100px;
			}
		}
	}

	@media screen and (min-width: $br-xl) {
	}
}
