$bg-gray-variant: rgba(#000, 0.06);
$bg-gray: #e8e8e8;
$bg-normal: #fff;
$bg-variant: #4a64be;
$bg-muted: rgba(#000, 0.64);
$bg-accent: #fd92ff;
$bg-accent-variant: #fda2ff;

$text-normal: #000;
$text-not-muted: rgba(#000, 0.84);
$text-muted: rgba(#000, 0.64);
$text-secondary: #fff;
$text-link: #3d5db8;

$border-secondary: #292d4f;
$border-variant: #ff9696;
