/* Font sizes */
$text-xs: 10px;
$text-sm: 12px;
$text-md: 14px;
$text-xmd: 16px;
$text-xxmd: 18px;
$text-lg: 20px;
$text-xl: 24px;
$text-xlll: 36px;

/* Button sizes */
$btn-md: 40px;

/* Input sizes */
$input-md: 40px;

$line-height: 1.5;

$transition-duration: 0.2s;

$page-header-height: 40px;

$border-radius: 8px;

$parent-container-width: 1674px;
$child-container-width: 1366px;

$min-width: 320px;
$max-width: 1920px;
