@import './../utils/vars';
@import './../utils/colors';

.home-page {
	.top {
		margin-bottom: 24px;
	}

	.bottom {
		display: flex;
		flex-direction: column;

		.bottom-header {
			margin-bottom: 12px;
		}

		.filters {
			margin-bottom: 12px;
		}

		.filters-title {
			color: $text-normal;
			flex: 1 0 100%;
			font-size: $text-md;
			font-weight: normal;

			margin-bottom: 0;
		}

		.todo-previews-header {
			align-items: flex-end;
			display: flex;
			justify-content: space-between;
		}

		.todo-previews-title {
			color: $text-normal;
			font-size: $text-md;
			font-weight: normal;

			margin-bottom: 0;
		}

		.todo-preview-container:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	@media screen and (min-width: $br-sm) {
	}

	@media screen and (min-width: $br-md) {
		.top {
			margin-bottom: 32px;
		}

		.bottom {
			flex-direction: row;

			.bottom-header {
				align-items: flex-end;
				display: flex;

				margin-bottom: 12px;
				height: 40px;
			}

			.filters {
				flex: 0 0 220px;
			}

			.filters-title,
			.todo-previews-title {
				font-size: $text-xmd;
			}

			.todo-previews {
				flex: 1 0 auto;

				padding-left: 16px;
			}

			.todo-previews-header {
				flex: 0 0 100%;
			}

			.todo-preview-container:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	@media screen and (min-width: $br-lg) {
		.top {
			margin-bottom: 36px;
		}
	}

	@media screen and (min-width: $br-xl) {
		.top {
			margin-bottom: 42px;
		}
	}
}
